@{
}

@model cvprojekt.Models.Education

<form asp-action="AddEducation" method="post">
	<label>Jobb/Erfarenhet: </label>
	<input name="Title"/>
	<br />
	<label>Beskrivning: </label>
	<input name="Description"/>
	<button type="submit">Lägg till</button>
</form>