@model List<Models.Cv>

@{
    ViewBag.Title = "Cvn";
}

<h2>@ViewBag.Title</h2>

@foreach (var cv in Model)
{
    <div>
        <a asp-action="ShowCv" asp-route-username="@cv.OwnerNavigation.UserName"><h3>@cv.OwnerNavigation.Name</h3></a>
        <p>@cv.Description</p>
    </div>
}

