@{
	ViewData["Title"] = "Logga In";
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.LoginViewModel

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2 class="text-center mb-4">Logga in</h2>
			<form method="post" asp-action="LogIn" id="loginForm">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="mb-3">
					<label for="UserName" class="form-label">Användarnamn: </label>
					<input type="text" class="form-control" asp-for="UserName" id="UserName"/>
					<span class="text-danger" asp-validation-for="UserName"></span>
				</div>
				<div class="mb-3">
					<label for="Password" class="form-label">Lösenord: </label>
					<input type="password" class="form-control" asp-for="Password" id="Password"/>
					<span class="text-danger" asp-validation-for="Password"></span>
				</div>
				<div class="form-check mb-3">
					<input type="checkbox" class="form-check-input" title="Remember me" asp-for="RememberMe" id="RememberMe"/>
					<label class="form-check-label" for="RememberMe">Kom ihåg mig</label>
				</div>
				<button type="submit" class="btn btn-primary">Logga in</button>

			</form>
			<div class="text-center mt-3">
				<p>Har du inget konto? <a asp-action="Register">Registrera dig här</a></p>
			</div>
		</div>
	</div>
</div>
