@{
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterViewModel

<div asp-validation-summary="All"></div>


<form method="post" asp-action="Register">
	<label>Användarnamn: </label>
	<input asp-for="UserName" />
	<br />
	<label>Epost: </label>
	<input asp-for="Email" />
	<br />
	<label>Namn: </label>
	<input asp-for="Name" />
	<br />
	<label>Lösenord: </label>
	<input type="password" asp-for="Password" />
	<br />
	<label>Bekräfta Lösenord</label>
	<input type="password" asp-for="ConfirmPassword" />
	<br />
	<button type="submit">Login</button>
</form>
