@{
	ViewData["Title"] = "Registrera Konto";
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.RegisterViewModel

<div class="container mt-3">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<h2 class="text-center mb-4">Registrera Konto</h2>
			<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
			<form method="post" asp-action="Register">
				<div class="mb-3">
					<label for="UserName" class="form-label" >Användarnamn</label>
					<input type="text" class="form-control" asp-for="UserName" id="UserName"/>
				</div>
				<div class="mb-3">
					<label for="Email" class="form-label">Email</label>
					<input type="email" class="form-control" asp-for="Email" id="Email"/>
					<span class="text-danger" asp-validation-for="Email"></span>
				</div>
				<div class="mb-3">
					<label for="Name" class="form-label">Namn</label>
					<input type="text" class="form-control" asp-for="Name" id="Name"/>
				</div>
				<div class="mb-3">
					<label for="Password" class="form-label">Lösenord</label>
					<input type="password" class="form-control" asp-for="Password" id="Password"/>
				</div>
				<div class="mb-3">
					<label for="ConfirmPassword" class="form-label">Bekräfta Lösenord</label>
					<input type="password" class="form-control" asp-for="ConfirmPassword" id="ConfirmPassword"/>
				</div>
				<button type="submit" class="btn btn-primary">Skapa konto</button>
			</form>
			<div class="text-center mt-3">
				<p>Har du redan ett konto? <a asp-action="LogIn">Logga in här</a></p>
			</div>
		</div>
	</div>
</div>
