@{
	ViewData["Title"] = "Redigera profil";
}

@using System.Reflection.Metadata
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Models.EditUserChangePasswordViewModel

<div class="container mt-5">
	<h2 class="text-center mb-4">Redigera profil</h2>
	<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
	
	@if (TempData["SuccessMessage"] != null)
	{
		<div class="alert alert-success">
			@TempData["SuccessMessage"]
		</div>
	}

	<form asp-action="Edit" method="post" class="needs-validation" novalidate>
		<div class="mb-3">
			<label for="Name" class="form-label">Namn: </label>
			<input type="text" class="form-control" asp-for="editUserViewModel.Name" value=@Model.editUserViewModel.Name/>
		</div>
		<div class="mb-3">
			<label for="Email" class="form-label">Email: </label>
			<input type="email" class="form-control" asp-for="editUserViewModel.Email" value="@Model.editUserViewModel.Email" />
			<span class="text-danger" asp-validation-for="editUserViewModel.Email"></span>
		</div>
		
		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" asp-for="editUserViewModel.IsActive" id="IsActive" title="Aktivera/Av Aktivera Ditt Konto"/>
			<label class="form-check-label" for="IsActive" title="IsActive">Aktivt konto: </label>
		</div>
		<div class="mb-3 form-check">
			<input type="checkbox" class="form-check-input" asp-for="editUserViewModel.IsPrivate" id="IsPrivate" title="Ställ in om ditt konto ska vara privat"/>
			<label class="form-check-label" for="IsPrivate" title="Ställ in om ditt konto ska vara privat">Privat konto: </label>
		</div>
		<button type="submit" class="btn btn-primary">Spara ändringar</button>
	</form>
	<h3>Byt lösenord</h3>
	<form asp-controller="Account" asp-action="ChangePassword" method="post">
		<div class="mb-3">
			<label for="CurrentPassword" class="form-label">Nuvarande Lösenord: </label>
			<input type="password" class="form-control" asp-for="changePasswordViewModel.CurrentPassword"/>
		</div>
		<div class="mb-3">
			<label for="NewPassword" class="form-label">Nytt Lösenord:</label>
			<input type="password" class="form-control" asp-for="changePasswordViewModel.NewPassword"/>
		</div>
		<div class="mb-3">
			<label for="ConfirmNewPassword" class="form-label">Bekfräfta Nytt Lösenord:</label>
			<input type="password" class="form-control" asp-for="changePasswordViewModel.ConfirmNewPassword"/>
		</div>
		<button type="submit" class="btn btn-primary">Byt lösenord</button>
	</form>
	
	<form asp-action="Logout" asp-controller="Account" method="post" class="mt-4">
		<button type="submit" class="btn btn-danger">Logga ut</button>
	</form>
</div>


