@{
}

@model IQueryable<Models.User>

<h2>Matchningar baserat på dina kompetenser</h2>
<div class="card">
@foreach (var user in Model)
{
    <h2 class="card-header">@user.Name</h2>
    <h3>Kompetenser</h3>
    @foreach (var cv in user.Cvs)
    {
        @foreach (var education in cv.Educations)
        {
            @foreach (var skill in education.Skills)
            {
                <p>@skill.Name</p>
            }
        }
    }
}
</div>
