@{
	ViewData["Title"] = "Sökning";
}

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<cvprojekt.Models.User>

<div>

	@foreach (var user in Model){
		<div class="card">
			<a asp-action="ShowCv" asp-controller="Cv" asp-route-username="@user.UserName">@user.Name</a>
			<p>@user.Email</p>
			<div class="card">
				<h3 class="card-header">Skills</h3>
				<div class="card-body">
					@foreach (var cv in user.Cvs){
						foreach(var education in cv.Educations){
							foreach(var skill in education.Skills){
								<p>@skill.Name</p>
							}					
						}				
					}
				</div>
			</div>
		</div>
	}

</div>


