@{
	ViewData["Title"] = "Sökning";
}

@model List<cvprojekt.Models.User>

<div>

	@foreach (var user in Model){
		<div>
			<p>@user.Name</p>
			<p>@user.Email</p>
			@foreach (var cv in user.Cvs){
				foreach(var project in cv.Projects){
					<p>@project.Description</p>
				}
			}
		</div>
	}

</div>
