@{
	ViewData["Title"] = "Sökning";
}

@model List<cvprojekt.Models.User>

<div>

	@foreach (var user in Model){
		<div>
			<p>@user.Name</p>
			<p>@user.Email</p>
			@foreach (var cv in user.Cvs){
				foreach(var education in cv.Educations){
					foreach(var skill in education.Sids){
						<p>Skills: @skill.Name</p>
					}
				}
			}
		</div>
	}

</div>
