
@{
	ViewData["Title"] = "Projekt";
}

@model IQueryable<cvprojekt.Models.Project>
<h2>Projektlista</h2>

<table class="table">
    <thead>
        <td>Titel</td>
        <td>ProjektID</td>
        <td>Skapad av</td>
    </thead>
    <tbody>
        <tr>
            @foreach (var project in Model)
            {
                <td>@project.Title</td>
                <td>@project.ProjectId</td>
                <td>@project.CreatedBy</td>
                <td><a asp-controller="Remove" asp-route-id="@project.ProjectId">Radera</a></td>
            }
        </tr>
    </tbody>
</table>

